doc/latex/
doc/html/
build/
ros_launcher/src/coco_ros_launcher/obj-x86_64-linux-gnu
ros_launcher/src/coco_ros_launcher/debian/ros-indigo-coco-ros-launcher/
ros_launcher/build/
ros_launcher/install/
ros_launcher/devel/lib

