html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: black;
    background: #eeeeee;
}

.ui-widget {
    font-size: 12px !important;
}

div {
	border: none;
	padding: 0 0;
	margin: 0 0;
}

#content {
	width: 100%;
	height: 100%;
    text-align: center;
}

#toolbar {
	padding: 4px;
	display: inline-block;
}

table {
	width: 100%;
	height: 100%;
}

#panel ul {
    list-style-type: none;
}

#panel {
	width: 100%;
	height: 100%;
}

#tabs {
	width: 100%;
	height: 100%;
	border: none;
}

#console pre {
	padding: 0;
	font-size: 10px;
}