Source: coco
Maintainer: Filippo Brizzi <fi.brizzi@sssup.it>
Section: misc
Priority: extra
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9.0.0)

Package: coco 
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: greet user	

Package: coco-dev 
Architecture: any
Section: libdevel
Provides: coco-dev
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: greet user