#!/usr/bin/make -f
PACKAGE = $(shell dh_listpackages)
TMP     = $(CURDIR)/debian/$(PACKAGE)

%:
	dh $@ --buildsystem=cmake 

override_dh_usrlocal:

override_dh_auto_install:
	dh_auto_install
	rm -rf $(TMP)/usr/local/include/coco
