Package: coco-dev
Source: coco
Version: 0.5.1
Architecture: amd64
Maintainer: Filippo Brizzi <fi.brizzi@sssup.it>
Installed-Size: 551
Provides: coco-dev
Section: libdevel
Priority: extra
Description: greet user
